    body {
      font-size: 16px;
      font-family: 'Avenir Next', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      margin-top: 0px;
      margin-left: 0px;
      width: 1200px;
    }  
    b {
      font-weight: 600;
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    .me {
      padding: 30px;
      height: 255px;
      width: 220px;
      display: block;
      margin: auto;
    }

    .leftpanel {
      position: fixed;
      float: left;
      height: 100vh;
      width: 300px;
      color: #6c6c6c;
      background-color:darkturquoise;
    }

    .leftpanel a {
      text-decoration: none;
      color: white;
    }

    .leftpanel ul {
      margin-left: 20px;
      padding: 0;
    }

    .leftpanel li {
      display: block;
      padding: 11px 16px;
    }

    .leftpanel li:hover {
      background-color: orange;
    }

    .rightpanel th {
      text-align: left
    }

    .rightpanel {
        margin-left: 30px;
      padding-left: 310px;
      padding-top: 5px;
      color:black;
    }

    .rightpanel th,
    td {
      padding: 15px;
      font-weight: normal;
    }

    .bold-headers th {
      font-weight: 600;
    }

    .table-row {
      padding-bottom: 6px;
    }

    .list-item {
      padding-bottom: 6px;
    }

.twitter-logo
{
    margin-left: 60px;
    padding: 15px;
    padding-top: 1px;
    height: 25px;}
.linkedin-logo
{
    padding: 15px;
    padding-top: 1px;
    height: 25px;}
.gmail-logo {
    padding: 15px;
    padding-top: 1px;
    height: 25px;
}

  .pic {
    padding: 10px;
    height: 256px;
    width: 300px;
    margin: auto;
    margin-left:60px;
  }

  .circle {
      border-radius: 50%;
      height: 300px;
      width: 300px;
      border:12px solid orange;
      overflow: hidden;
  }


  .circle2 {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border:12px solid orange;
    overflow: hidden;
    padding-top: 0;
    margin-left: 775px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    position: absolute;
}

  .circle img {
      width: 450px;
      height: auto;
      /* max-height: 100%;
      max-width: 100%; */
  }

  .rightpanel a {
    text-decoration: none;
    color:darkturquoise;
    text-decoration: underline;
  }

    .boxed {
        height: 300px;
        padding: 50px;
        margin: 20px;
        margin-top: -100px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-items: center;
      }

      .mri_paragraph {
        border-radius: 5px;
        padding: 10px;
        color:white;
        width: 300px;
        height: 150px;
        background-color:darkturquoise;
        text-align: center;
      }

      #tabs {
        overflow: hidden;
    }

    #tabs button {
        position: relative;
        background:darkturquoise;
        padding: .5vw 3.5vw;
        float: left;
        font-size: 1.75vw;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        border-radius: 1vw 1vw 0 0;
        transition: 0.3s;
    }

    #tabs button.active {
        background-color: orange;
        background-image: none;
        color: #fff;
    }

    table, th, td {
        border: white .2vw;
        padding: .5vw;
    }

    .table1, .th1, .td1 {
        border: orange solid .2vw;
        padding: .5vw;
        width: 100%;
        border-radius: 10px;
        background-color: orange;
        border-top-left-radius: 0%;
    }

    .th1 {
        font-size: 1.5vw;
        padding-left: 1vw;
        width: 15%;
        border: orange solid .2vw;
        border-radius: 10px;
        background-color: white;
    }

    .td1 {
        text-align: left;
        font-size: 1.3vw;
        padding-right: 3vw;
        padding-left: 1vw;
        padding-bottom: 1vw;
        border:orange solid .2vw;
        border-radius: 10px;
        background-color: white;
    }

